@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#d4ecdd), color-stop(75%, rgba(52, 91, 99, 0.75)), to(#345b63));
  background: linear-gradient(180deg, #d4ecdd 0%, rgba(52, 91, 99, 0.75) 75%, #345b63 100%);
  overflow: hidden;
  height: 100vh;
  color: #152d35;
}

body p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

#wrapper section {
  background: none;
  padding: 25px;
}

@media (min-width: 1200px) {
  #wrapper section {
    min-height: calc(100vh - 100px);
    padding: 50px;
  }
}

#wrapper section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1200px) {
  #wrapper section#about {
    min-height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#wrapper .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

#wrapper .section-content#aboutContent {
  width: 100%;
}

@media (min-width: 1200px) {
  #wrapper .section-content#aboutContent {
    width: 50%;
  }
}

#wrapper .header {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  letter-spacing: 2px;
  font-size: 72px;
  line-height: 1;
  margin: 0;
}

#wrapper .sub-header {
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  position: relative;
  width: auto;
  color: #fff;
}

#wrapper .sub-header::after {
  content: "";
  width: 75%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  display: block;
}

#wrapper .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
  margin-top: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #152d35;
  padding: 14px 20px;
  padding-right: 90px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#wrapper .scroll-down .button-icon {
  height: 35px;
  position: absolute;
  right: 20px;
  top: 10px;
}

#wrapper .scroll-down .button-icon .icon-path {
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}

#wrapper .scroll-down:hover, #wrapper .scroll-down:focus {
  background-color: rgba(21, 45, 53, 0.8);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(212, 236, 221, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(212, 236, 221, 0.5);
}

#wrapper .scroll-down:hover .button-icon .icon-path, #wrapper .scroll-down:focus .button-icon .icon-path {
  fill: #d4ecdd;
}

#wrapper #pandaImage {
  position: fixed;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  max-height: 975px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
  opacity: .25;
  z-index: -1;
}

@media (min-width: 1200px) {
  #wrapper #pandaImage {
    right: 25px;
    opacity: 1;
    max-width: calc(50% - 100px);
    -o-object-position: bottom right;
       object-position: bottom right;
  }
}

#wrapper .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}
/*# sourceMappingURL=main.css.map */