@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#d4ecdd), color-stop(75%, rgba(52, 91, 99, 0.75)), to(#345b63));
  background: linear-gradient(180deg, #d4ecdd 0%, rgba(52, 91, 99, 0.75) 75%, #345b63 100%);
  overflow: hidden;
  height: 100vh;
  color: #152d35;
}

body p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

#wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: none;
}

@media (min-width: 1200px) {
  #wrapper header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#wrapper header nav {
  margin-right: 75px;
}

#wrapper header nav button {
  background: none;
  border: none;
  color: #152d35;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

#wrapper header nav button:hover {
  opacity: 0.5;
}

#wrapper section {
  background: none;
  padding: 25px;
}

@media (min-width: 1200px) {
  #wrapper section {
    padding: 50px;
  }
}

#wrapper section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1200px) {
  #wrapper section#about {
    min-height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#wrapper .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

#wrapper .section-content#aboutContent {
  width: 100%;
}

@media (min-width: 1200px) {
  #wrapper .section-content#aboutContent {
    width: 50%;
  }
}

#wrapper .section-content#proProjectContent {
  padding-top: 50px;
}

#wrapper .header {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  letter-spacing: 2px;
  font-size: 72px;
  line-height: 1;
  margin: 0;
}

#wrapper .sub-header {
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  position: relative;
  width: auto;
  color: #fff;
}

#wrapper .sub-header::after {
  content: "";
  width: 75%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  display: block;
}

#wrapper .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
  margin-top: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #152d35;
  padding: 14px 20px;
  padding-right: 90px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#wrapper .scroll-down .button-icon {
  height: 35px;
  position: absolute;
  right: 20px;
  top: 10px;
}

#wrapper .scroll-down .button-icon .icon-path {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
}

#wrapper .scroll-down:hover, #wrapper .scroll-down:focus {
  background-color: rgba(21, 45, 53, 0.8);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(212, 236, 221, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(212, 236, 221, 0.5);
}

#wrapper .scroll-down:hover .button-icon .icon-path, #wrapper .scroll-down:focus .button-icon .icon-path {
  fill: #d4ecdd;
}

#wrapper #pandaImage {
  position: fixed;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  max-height: 975px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
  opacity: 0.25;
  z-index: -1;
}

@media (min-width: 1200px) {
  #wrapper #pandaImage {
    right: 25px;
    opacity: 1;
    max-width: calc(50% - 100px);
    -o-object-position: bottom right;
       object-position: bottom right;
  }
}

#wrapper .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

#wrapper .project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-top: 25px;
  row-gap: 50px;
}

@media (min-width: 768px) {
  #wrapper .project-grid {
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #wrapper .project-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#wrapper .project-grid .project-card .project-image {
  width: 100%;
  height: 250px;
  background: #fff;
  position: relative;
}

@media (min-width: 768px) {
  #wrapper .project-grid .project-card .project-image {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  #wrapper .project-grid .project-card .project-image {
    height: 50vh;
  }
}

#wrapper .project-grid .project-card .project-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

#wrapper .project-grid .project-card .project-image .project-overlay {
  display: none;
}

#wrapper .project-grid .project-card .project-image .project-overlay .view-more-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

#wrapper .project-grid .project-card .project-image:hover .project-overlay {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(21, 45, 53, 0.7);
  cursor: pointer;
}

#wrapper .project-grid .project-card .project-title {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

#wrapper .project-grid .project-card .project-description {
  margin: 0;
  font-size: 20px;
}

#wrapper #projectModal {
  display: none;
  position: fixed;
  height: 80vh;
  width: 80vw;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
}

#wrapper #projectModal #modalContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 33% 66%;
      grid-template-rows: 33% 66%;
  height: 100%;
  color: #152d35;
  overflow: auto;
}

@media (min-width: 768px) {
  #wrapper #projectModal #modalContent {
    -ms-grid-rows: 66% 33%;
        grid-template-rows: 66% 33%;
  }
}

#wrapper #projectModal #modalContent h4 span {
  color: #345b63;
  font-weight: 400;
}

#wrapper #projectModal #modalContent #modalGallery {
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

#wrapper #projectModal #modalContent #modalGallery #carousel {
  position: relative;
  height: 100%;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__viewport {
  width: 100%;
  height: 100%;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__viewport .carousel__track {
  height: 100%;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__viewport .carousel__slide {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__dots {
  display: none;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__button svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  background-color: #152d35;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

#wrapper #projectModal #modalContent #modalGallery #carousel .carousel__button:hover svg, #wrapper #projectModal #modalContent #modalGallery #carousel .carousel__button:focus svg {
  background-color: #345b63;
}

#wrapper #projectModal #modalContent #modalDetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media (min-width: 1200px) {
  #wrapper #projectModal #modalContent #modalDetails {
    width: calc(100% - 20px);
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

#wrapper #projectModal #closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

#wrapper #projectModal #closeModal:hover svg path, #wrapper #projectModal #closeModal:focus svg path {
  fill: #345b63;
}

#wrapper #projectModal #closeModal svg {
  height: 30px;
}

#wrapper #projectModal #modalLinks {
  position: absolute;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

#wrapper #projectModal #modalLinks .modal-link {
  text-decoration: none;
  color: #152d35;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #projectModal #modalLinks .modal-link:hover svg g, #wrapper #projectModal #modalLinks .modal-link:focus svg g {
  fill: #345b63;
}

#wrapper #projectModal #modalLinks .modal-link svg {
  height: 30px;
}

#wrapper #sourcesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: calc(100vh - 145px);
  width: 50%;
}

#wrapper #sourcesContent ul {
  padding: 0;
  list-style: none;
}

#wrapper #sourcesContent ul li {
  font-weight: 500;
}

#wrapper #sourcesContent ul li a {
  font-weight: 400;
  color: #152d35;
}

#wrapper #sourcesContent .scroll-down {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

#wrapper #resume #resumeContent h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 24px;
}

#wrapper #resume #resumeContent h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#wrapper #resume #resumeContent h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

#wrapper #resume #resumeContent .stats {
  margin-top: 0;
  margin-bottom: 20px;
}

#wrapper #resume #resumeContent .stats .stat-item {
  display: inline-block;
  font-weight: 500;
}

#wrapper #resume #resumeContent .stats .stat-item.stat-item-year {
  display: block;
  font-weight: 300;
}

#modalOverlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 45, 53, 0.7);
  top: 0;
  left: 0;
  z-index: 2;
}

footer {
  background-color: #152d35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover, footer a:focus {
  color: #d4ecdd;
}
/*# sourceMappingURL=main.css.map */